// FONTS

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// Colors

$blue-main: #245DFF;
$blue-heading: #2B2B5B;
$blue-light-bg: #F5F7FD;

// MIXINS

@mixin absolute-center() {display: flex; align-items: center; justify-content: center;}

// Typography

@mixin type-title() {color: $blue-heading; font-family: 'poppinsbold'; font-weight: normal; font-style: normal; font-size: 35px; line-height: 43px; margin-bottom: 20px;}
@mixin type-title-small() {color: $blue-heading; font-family: 'poppinsbold'; font-weight: normal; font-style: normal; font-size: 25px; line-height: 43px; margin-bottom: 20px;}
@mixin type-label() {color: $blue-heading; font-family: 'poppinssemibold'; font-weight: normal; font-style: normal; font-size: 17px; line-height: 29px; margin: 0px;}
@mixin type-label-form() {color: $blue-heading; font-family: 'poppinsbold'; font-weight: normal; font-style: normal; font-size: 17px; line-height: 29px; margin-bottom: 20px;}
@mixin type-regular() {color: #64729A; font-family: 'poppinsregular'; font-weight: normal; font-style: normal; font-size: 15px; line-height: 30px;}
@mixin type-regular-small() {color: #2C295B; font-family: 'poppinsregular'; font-weight: normal; font-style: normal; font-size: 11px; line-height: 20px;margin: 0px;}

.type-title {@include type-title();}
.type-title-small {@include type-title-small();}
.type-label {@include type-label();}
.type-regular {@include type-regular();}
.type-regular-small {@include type-regular-small();}

body, p {@include type-regular();}
p {margin-bottom: 20px;}

h2 {@include type-title();}
h3 {@include type-title-small();}
strong {font-family: 'poppinsbold'; font-weight: normal;}

// Global

a {@include type-label(); color: $blue-main; font-size: 15px; line-height: 30px; text-decoration: underline; }

.button {background: $blue-main; border: 1px solid #003BE2; border-bottom: 2px solid #003BE2; box-shadow: 0px 6px 5px 0px #DEE5FA; border-radius: 6px; @include type-label-form(); margin-bottom: 0px; color: #ffffff; text-transform: uppercase; display: block; padding: 12px 10px 8px 10px; text-decoration: none;
  &.button-light {background: #FFFFFF; border: 1px solid #FFFFFF; box-shadow: 0px 6px 5px 0px $blue-heading; color: $blue-main;
    &:hover, &.focus {background-color: #FFFFFF; color: $blue-main;}
  }
  &.button-light-clean {background: #FFFFFF; border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #F4F4F4; color: $blue-main;
    &:hover, &.focus {background-color: #FFFFFF; color: $blue-main;}
  }
  &.button-light-red {background: #ffffff; color: #D40000; border: 1px solid #EDDEDE; border-bottom: 2px solid #EDDEDE; box-shadow: 0px 6px 5px 0px #FFEDED;
    &:hover, &.focus {background-color: #ffffff; color: #D40000;}
  }
  &.button-file-upload {background-image: url("../img/file-upload.svg"); background-repeat: no-repeat; background-position: left center; background-size: auto 100%; padding-left: 50px; margin-top: -30px; margin-bottom: 50px;}
  img {margin-right: 10px; position: relative; top: -2px;}
  &.button-accept {background: #00C75B; border-color: #00C75B; box-shadow: none; margin-bottom: 20px;
    &:hover {background: #00C75B;}
  }
  &.button-deny {background: #FB5F78; border-color: #FB5F78; box-shadow: none;
    &:hover {background: #FB5F78;}
  }

  &:hover, &.focus {background-color: $blue-main; color: #ffffff;}
}

.button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
  opacity: 1; background: #DEE2ED; border: 1px solid #DEE2ED; border: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #EAF0FF; color: #6B789F;
}

select {box-shadow: none; border-radius: 6px; border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; padding: 12px 30px 13px 20px; height: 52px; @include type-regular(); font-size: 16px; line-height: 24px; letter-spacing: 0.72px; color: $blue-heading; margin-bottom: 0px; background-size: 14px 14px;
  &:focus, &.selected {border: 1px solid #00C75B; border-bottom: 2px solid #00C75B; box-shadow: 0px 6px 5px 0px #E1F5E5;}
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
  box-shadow: none; border-radius: 6px; border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; padding: 12px 20px 13px 20px; height: 52px; @include type-regular(); font-size: 16px; line-height: 24px; letter-spacing: 0.72px; color: $blue-heading; margin-bottom: 0px;
  &:focus {box-shadow: none; border: 1px solid #64729A; border-bottom: 2px solid #64729A; background-color: #ffffff;}
}
textarea {height: auto;}

label {@include type-label-form(); margin-bottom: 40px; line-height: 29px;
  span {@include type-regular(); color: #64729A; display: block; font-size: 15px; line-height: 26px; position: relative; margin-top: 10px;}
  [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    margin-top: 10px;
  }
  input + input[type=email], input + input[type=number], input + input[type=password], input + input[type=text] { margin-top: 10px;}
  .button {margin-top: 10px;}
}

label.checkbox { @include type-regular(); display: block; position: relative; padding-left: 45px; padding-top: 12px; margin-top: 0px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  input { position: absolute; opacity: 0; cursor: pointer;}
  .checkmark { position: absolute; top: 0; left: 0; height: 30px; width: 30px; background-color: #ffffff; border: 2px solid #DEE2ED; border-bottom: 3px solid #DEE2ED; border-radius: 6px;}

  &:hover input ~ .checkmark {background-color: #DEE2ED;}
  input:checked ~ .checkmark {background-color: #2196F3; border-color: #2196F3;}

  .checkmark:after { content: ""; position: absolute; display: none;}
  input:checked ~ .checkmark:after { display: block;}

  .checkmark:after { left: 12px; top: 7px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

  &:after {content: ""; clear: both; position: relative; display: block;}

}

label.radio { @include type-label-form(); text-transform: uppercase; line-height: 28px; display: block; position: relative; padding-left: 50px; margin: 0px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  span.info {@include type-label(); font-size: 11px; line-height: 17px; color: #64729A; text-transform: none;}
  input {position: absolute; opacity: 0; cursor: pointer;}
  .checkmark { position: absolute; top: calc(50% - 15px); left: 0; height: 30px; width: 30px; background-color: #ffffff; border: 2px solid #DEE2ED; border-bottom: 3px solid #DEE2ED; border-radius: 6px; margin: 0px;}
  &:hover input ~ .checkmark {border: 2px solid #00C75B; border-bottom: 3px solid #00C75B; box-shadow: 0px 6px 5px 0px #DEFFED;}
  input:checked ~ .checkmark {border: 2px solid #00C75B; border-bottom: 3px solid #00C75B; box-shadow: 0px 6px 5px 0px #DEFFED;}
  .checkmark:after { content: ""; position: absolute; display: none;}
  input:checked ~ .checkmark:after {display: block;}
  .checkmark:after {top: 6px; left: 4px; width: 19px; height: 14px;background-image: url("../img/radio-tick.svg");}
}

label.page-heading {padding-top: 50px;}

.special-feild-wrap {
  .special-icon {height: 52px; width: 50px; border: 1px solid #DEE2ED; border-right: 0px;border-bottom: 2px solid #DEE2ED; border-radius: 6px 0px 0px 6px;  float: left; @include absolute-center(); background: $blue-light-bg;}
  [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    width: calc(100% - 50px); float: left; border-radius: 0px 6px 6px 0px;
  }
  &:after {content: ""; clear: both; position: relative; display: block;}
}

.accordion {background: transparent;
  .accordion-title {padding: 10px 0px; @include type-label(); font-size: 15px; color: $blue-main; text-decoration: underline; border: 0px; border-bottom: 2px solid #E2E6FF;}
  .is-active{
    .accordion-title {color: $blue-heading; border: 0px;}
  }
  .accordion-content {background: transparent; border: 0px; padding: 0px; border-bottom: 2px solid #E2E6FF; padding-bottom: 10px;
    p {margin: 0px;}
  }
  :last-child:not(.is-active)>.accordion-title {border-bottom: 2px solid #E2E6FF;}
  :last-child>.accordion-content:last-child {border-bottom: 2px solid #E2E6FF;}
  .accordion-title::before {content: ""; background: url("../img/arrow_up.svg"); background-repeat: no-repeat; width: 20px; height: 15px; right: 0px;}
  .is-active>.accordion-title::before {content: ""; background: url("../img/arrow_down.svg"); background-repeat: no-repeat; width: 20px; height: 15px; right: 0px;}
  .accordion-title:focus, .accordion-title:hover {background: transparent; color: $blue-heading;}
}

// Grid

.grid-padding-x>.cell {
    padding-right: 40px;
    padding-left: 40px;
}

// Header styles

header.site-header {height: 70px; width: 100%; position: relative; top: 0px; left: 0px; z-index: 100;
  &.homepage {background: $blue-main;}
  .site-logo {float: left; width: calc(100% - 140px); height: 100%; background: $blue-main; border-radius: 0px 0px 8px 8px; padding-left: 30px; @include absolute-center(); justify-content: start;
  }
  .user-nav, .site-nav {float: left; width: 70px; height: 100%; background: $blue-main; border-radius: 0px 0px 8px 8px; @include absolute-center(); text-align: center; cursor: pointer;
    p {font-family: 'poppinsbold'; margin: 0px; text-transform: uppercase; font-weight: normal; line-height: normal; font-size: 13px; color: #C6CFFF; letter-spacing: 0.58px;}
  }
  .user-nav.dashboard {background: #1940B2;
    .the-user-navigation{position: fixed; left: 0px; top: 70px; width: 100%; background: #F5F7FD; display: none;
      ul {list-style: none; margin: 0px;
        li {text-align: left;
          a {@include type-label-form(); margin: 0px; font-size: 17px; line-height: 28px; letter-spacing: 0.76px; text-transform: uppercase; padding: 25px 30px 21px 30px; color: #245DFF; text-decoration: none; display: block;
            &.logout {color: #D40000;}
          }
          &:nth-of-type(odd){}
          &:nth-of-type(even){background: #F0F3FB;}
        }
      }
    }
    .close-wrap {display: none;}
    &.open {background: #F5F7FD;
      .the-user-navigation {display: block;}
      .open-wrap {display: none;}
      .close-wrap {display: block;
        p {color: $blue-heading;}
      }
    }
  }
  .site-nav {
    .the-site-navigation{position: fixed; left: 0px; top: 70px; width: 100%; background: #F5F7FD; display: none;
      ul {list-style: none; margin: 0px;
        li {text-align: left;
          a {@include type-label-form(); margin: 0px; font-size: 17px; line-height: 28px; letter-spacing: 0.76px; text-transform: uppercase; padding: 25px 30px 21px 30px; color: #245DFF; text-decoration: none; display: block;}
          &:nth-of-type(odd){}
          &:nth-of-type(even){background: #F0F3FB;}
        }
      }
    }
    .close-wrap {display: none;}
    &.open {background: #F5F7FD;
      .the-site-navigation {display: block;}
      .open-wrap {display: none;}
      .close-wrap {display: block;
        p {color: $blue-heading;}
      }
    }
  }
  &.sticky {position: fixed; width: 100%; top: 0px; left: 0px; background: transparent;}
  &.menu-open {background: #F5F7FD; position: fixed; width: 100%; top: 0px; left: 0px;}
}


// Footer Styles
footer.site-footer {background-color: $blue-heading; background-image: url("../img/location_bg.svg"); background-position: top right; background-repeat: no-repeat;
  .find-test-location {padding: 60px 0px;
    p {text-align: center; @include type-label(); font-size: 12px; color: #ffffff; line-height: 16px; margin-bottom: 5px;}
  }
  .footer-nav {padding: 50px 0px 40px 0px;
    ul {list-style: none; margin: 0px;
      li {text-align: center;
        a {@include type-label; color: #ffffff; font-size: 15px; text-decoration: underline;}
      }
    }
  }
  .footer-text {text-align: center;
    p {@include type-label(); color: #8D8DBF; font-size: 12px; display: block; border-top: 2px solid #4F4F88; line-height: 50px;}
  }
  .footer-logo {background: $blue-main; padding: 40px 0px;text-align: center;}
}
// Home page styles

#home-intro {height: calc(100vh - 70px); min-height: 550px; max-height: 750px; background: $blue-main; position: relative; z-index: 1;
  &:after {content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(104,0,255,1) 100%); background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(104,0,255,1) 100%); background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(104,0,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#6800ff',GradientType=0 ); z-index: -1;}
  .intro-text {height: 280px; @include absolute-center();
    .wrap {max-width: 320px;
      .type-title-small {color: #ffffff; text-align: center;}
    }
  }
  .illustrations {height: 256px; text-align: center; background: url("../img/temp-drone3.png"); background-position: 60% center; background-repeat: no-repeat;}
}

#register-drone {background: #ffffff; padding-left: 10px; padding-right: 10px; padding-bottom: 50px;
  .wrap {position: relative; top: -50px; padding-top: 50px; background: #ffffff; border-radius: 10px; z-index: 1; margin-bottom: -50px;
    &:after {content: ""; position: absolute; top: 42px; left: -10px; width: 14px; height: 14px; background: url(../img/curve_left.svg); z-index: 1;}
    &:before {content: ""; position: absolute; top: 42px; right: -10px; width: 14px; height: 14px; background: url(../img/curve_right.svg); z-index: 1;}
  }
  .grid-padding-x>.cell {padding-right: 30px; padding-left: 30px;}
}

#help-me-apply {background: $blue-light-bg; padding: 50px 0px;
  p {color: $blue-heading;}
  p.question {margin: 0px; line-height: 43px;}
  p.question.selected {margin-bottom: 30px;}

  select {border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #ECF0FA; border-radius: 6px; height: 36px; width: auto; padding: 5px 25px 5px 10px; display: inline-block; @include type-regular(); color: $blue-heading; background-size: 9px 6px;
    &:focus, &.selected {border: 1px solid #00C75B; border-bottom: 2px solid #00C75B; box-shadow: 0px 6px 5px 0px #E1F5E5;}
  }

  select {margin-left: 5px; margin-right: 5px;}

  .other-parts {display: none;}
  .under, .over, .pilot, .operator, .manufacturer, .in-india, .import {display: none;}
  .button {display: none;}
  .show {display: block;}
}

#press-releases {padding: 50px 0px;
  .article {background: url("../img/article.svg"); background-repeat: no-repeat; background-position: top 6px left; padding-left: 62px; margin-bottom: 30px;
    h4 {@include type-label(); color: $blue-main; text-decoration: underline;}
    .date {@include type-regular-small();}
  }
}

#faq {padding: 50px 0px; background: $blue-light-bg;

}

// Page Styles

.page-header {padding: 50px 0px; background: $blue-light-bg;
  p {margin: 0px;}
}
.page-form {padding: 50px 0px;}

.dashboard-header { padding: 50px 0px 30px 0px;
  .button {margin-bottom: 20px;}
}

.page-dashboard {padding: 0px 0px 0px 0px;}

.form-footer, .view-application-footer {padding: 50px 0px; background: $blue-light-bg;
  a.back {margin-bottom: 20px; display: block; color: #ffffff;
    img {margin-right: 10px;}
  }
}

.view-application-footer {background: $blue-heading();}

#application-status {padding: 50px 0px;
  .status {padding: 20px; border-radius: 6px; margin-bottom: 10px;
    .details {width: calc(100% - 80px); float: left; padding-right: 20px;
      p, p.title, p.info, p.meta {margin: 0px; color: #ffffff;}
      .title {@include type-label-form(); font-size: 17px; line-height: 26px; letter-spacing: 0.76px; text-transform: uppercase; margin: 0px;}
      .info {@include type-regular(); font-size: 16px; line-height: 26px;}
      .meta {@include type-label(); font-size: 11px; line-height: 17px;}
    }
    .action {width: 80px; float: left; position: relative; @include absolute-center(); justify-content: flex-end;
      // img {position: absolute; bottom: 0px; right: 0px;}
    }
    &.status-draft {border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #F4F4F4;
      p, p.title, p.info, p.meta {color: $blue-heading;}
      .action {@include absolute-center();}
    }
    &.status-process {background: #EC8416; border: 1px solid #D76800; border-bottom: 2px solid #D76800; box-shadow: 0px 6px 5px 0px #FFE4C8;}
    &.status-declined {background: #E25353; border: 1px solid #B13232; border-bottom: 2px solid #B13232; box-shadow: 0px 6px 5px 0px #FFE1E1;}
    &.status-accepted {background: #00B653; border: 1px solid #009D3A; border-bottom: 2px solid #009D3A; box-shadow: 0px 6px 5px 0px #BFFFDC;}
    &:after {content: ""; clear: both; position: relative; display: block;}
    &:last-child {margin-bottom: 30px;}
  }
}

.apply-step {padding-left: 40px; min-height: 60px; background-image: url("../img/apply-step.svg"); background-repeat: no-repeat; background-position: left center; margin-bottom: 10px; margin-top: -10px; display: none;
  .wrap {@include absolute-center(); min-height: 60px; justify-content: start;}
  p {margin: 0px; line-height: 26px;}
  &.show {display: block;}
}

#my-drones {padding: 0px 0px 50px 0px;
  .drones-wrap{margin-bottom: 10px;
    .wrap {float: left; position: relative; background-color: $blue-light-bg; background-position: center; background-size: cover; border-radius: 6px; width: calc(50% - 10px); padding-top: calc(50% - 10px); position: relative; margin-bottom: 20px; z-index: 1; overflow: hidden;
      &:after {content: ""; position: absolute; bottom: 0px; left: 0px; height: 50%; width: 100%; opacity: 0.6; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); z-index: -1; }
      p {position: absolute; margin: 0px; bottom: 0px; left: 0px; width: 100%; text-align: center; @include type-label; color: #ffffff; font-size: 11px; line-height: 18px; letter-spacing: 0.49px; padding: 10px 20px; text-transform: uppercase;}
      &:nth-of-type(odd) {margin-right: 20px;}
      &:nth-of-type(even) {margin-right: 0px;}
    }
    &:after {content: ""; clear: both; position: relative; display: block;}
  }
}

#occurence-report {padding: 50px 0px; background: #FFF3F3;
  h3 {color: #5B2B2B;}
  p {color: #9C6767;}

  .reports {margin-bottom: 30px;
    .report {padding: 10px 10px 10px 20px; background: #ffffff; border: 1px solid #EAD1D1; border-bottom: 2px solid #EAD1D1; box-shadow: 0px 6px 5px 0px #FFEBEB; margin-bottom: 10px; border-radius: 6px;
      .details {width: calc(100% - 50px); float: left; @include absolute-center(); justify-content: start; min-height: 52px;
        h3 {margin: 0px; font-size: 17px; line-height: 28px; letter-spacing: 0.76px;}
        p {margin: 0px; @include type-label(); font-size: 11px; line-height: 17px; color: #64729A;}
      }
      .go-to-location {width: 50px; float: left;
        .button img {margin: 0px;}
      }
      &:after {content: ""; clear: both; position: relative; display: block;}
    }
  }

}

#all-applications-admin {
  .admin-search-wrap {margin-left: -15px; margin-right: -15px;}
  .admin-search-form {position: relative;
    .admin-search-button {position: absolute;top: 15px; right: 20px;}
  }
  .admin-search {margin-bottom: 40px; padding-right: 50px; }
  .applications {margin-bottom: 50px;
    .application {padding: 10px 10px 10px 20px; background: #ffffff; border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #F4F4F4; margin-bottom: 10px; border-radius: 6px;
      .details {width: calc(100% - 50px); float: left; @include absolute-center(); justify-content: start; min-height: 52px;
        h3 {margin: 0px; font-size: 17px; line-height: 28px; letter-spacing: 0.76px; text-transform: uppercase;}
        p {margin: 0px; @include type-label(); font-size: 11px; line-height: 17px; color: #64729A;}
      }
      .go-to-location {width: 50px; float: left;
        .button img {margin: 0px;}
      }
      &:after {content: ""; clear: both; position: relative; display: block;}
    }
  }
}

.admin-header {margin-bottom: 20px;
  .menu {margin-top: -5px;
    li{width: 33.33333%;
      a {height: 110px; background-color: #E9ECF4; border-right: 1px solid #ffffff; text-align: center; background-repeat: no-repeat; background-position: center 20px; padding-top: 80px; @include type-label-form(); font-size: 11px; line-height: normal; text-transform: uppercase; border-radius: 0px 0px 8px 8px;
        &:hover {background-color: #ffffff;}
        &.active {background-color: #ffffff;}
      }
      a.pilot {background-image: url("../img/pilot-all-blue.svg");}
      a.operator {background-image: url("../img/operator-blue.svg");}
      a.manufacturer {background-image: url("../img/manufacturer-blue.svg");}
      &:last-child a {border-right: 0px;}
    }
  }
}

.page-navigation{
  .menu { display: flex;
    li {flex-grow: 1;
      a {padding: 0px; background: #E9ECF4; height: 52px; @include absolute-center(); border-right: 1px solid #ffffff; @include type-label-form(); color: $blue-main; font-size: 17px; margin: 0px; line-height: 17px;
        &:hover {background: #ffffff;}
        &.active {background: #ffffff;}
      }
      &:last-child a {border-right: 0px;}
    }
  }
}

#apply-for-block {padding: 50px 0px 30px 0px;
  .apply-for-wrap {
    .apply-for {padding: 20px; border-radius: 6px; margin-bottom: 20px; min-height: 106px;
      .icon {width: 60px; float: left; @include absolute-center(); height: 66px;}
      .details {width: calc(100% - 60px); float: left; height: 66px; @include absolute-center(); padding-left: 10px; padding-right: 20px;
        p {margin: 0px;}
        p.title {@include type-title-small(); color: #000000; font-size: 17px; line-height: 28px; letter-spacing: 0.76px; margin: 0px; text-transform: uppercase;}
        p.info {@include type-label(); font-size: 11px; line-height: 17px;}
      }
      &:after {content: ""; clear: both; position: relative; display: block;}
      &.apply-for-pilot {background: #E5FFE5; border: 1px solid #C5EBC5; border-bottom: 2px solid #C5EBC5; box-shadow: 0px 6px 5px 0px #F2FFF2;
        p.info {color: #489148;}
      }
      &.apply-for-operator {background: #FFF6E5; border: 1px solid #EEE1C8; border-bottom: 2px solid #EEE1C8; box-shadow: 0px 6px 5px 0px #FFFAF1;
        p.info {color: #B6904B;}
      }
      &.apply-for-manufacturer {background: #DDE6FF; border: 1px solid #B8C6EC; border-bottom: 2px solid #B8C6EC; box-shadow: 0px 6px 5px 0px #EDF2FF;
        p.info {color: #2648A8;}
      }
    }

  }
}

#apply-for-form {padding: 50px 0px 0px 0px;}

.test-loaction-header {padding: 40px 0px; background-image: url("../img/location_bg_lite.svg"); background-position: bottom right; background-repeat: no-repeat;
  h3 {font-size: 17px; line-height: 29px; margin: 0px;}
}

.test-loaction-content {padding: 0px 0px 40px 0px;
  h2 {margin-top: 40px;}
  .accordion {border-top: 2px solid #E2E6FF;}
  .locations {
    .location {padding: 10px 10px 10px 20px; background: #ffffff; border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #F4F4F4; margin-bottom: 10px; border-radius: 6px;
      .details {width: calc(100% - 50px); float: left; @include absolute-center(); justify-content: start; min-height: 52px;
        h3 {margin: 0px; font-size: 17px; line-height: 28px; letter-spacing: 0.76px;}
        p {margin: 0px; @include type-label(); font-size: 11px; line-height: 17px; color: #64729A;}
      }
      .go-to-location {width: 50px; float: left;
        .button img {margin: 0px;}
      }
      &:after {content: ""; clear: both; position: relative; display: block;}
    }
  }
}

.form-steps {margin-bottom: 50px;
  ul {list-style: none; margin: 0px;
    li {width: 33.333333%; float: left; text-align: center; position: relative;
      div.circle {width: 16px; height: 16px; background-image: url("../img/step-circle-todo.svg"); margin: 0 auto; position: relative; z-index: 2; background-color: #ffffff;}
      p {@include type-label(); font-size: 11px; line-height: 17px; color: #64729A; text-transform: uppercase;}
      &:before {content: ""; position: absolute; top: 23px; left: 0px; height: 4px; width: 50%; background: #EB8831; z-index: 1;}
      &:after {content: ""; position: absolute; top: 23px; left: 50%; height: 4px; width: 50%; background: #EB8831; z-index: 1;}
    }
    li.done {
      div.circle {background-image: url("../img/step-circle-active-small.svg");}
    }
    li.now {
      div.circle {background-image: url("../img/step-circle-active-big.svg"); width: 20px; height: 20px; top: -2px;}
      p {color: #2B2B5B;}
      // &:before {content: ""; position: absolute; top: 23.5px; left: 0px; height: 3px; width: 50%; background: #4DCEC4; z-index: 1;}
      &:after {content: ""; background: #EDCEDE;}
    }
    li.todo {
      &:before {content: ""; background: #EDCEDE;}
      &:after {content: ""; background: #EDCEDE;}
    }
    li:first-child {
      p {text-align: left;}
      div.circle {float: left;}
      &:before {display: none;}
      &:after {width: calc(150% - 8px); left: 0px; background: #DEE2ED;}
    }
    li.step-2 {
      &:before {width: calc(150% - 16px); left: 50%; background: #DEE2ED;}
      &:after {display: none;}
    }
    li:last-child {
      p {text-align: right;}
      div.circle {float: right;}
      // &:before {width: 150%; left: -50%; background: #DEE2ED;}
      &:before {display: none;}
      &:after {display: none;}
    }
    li.done.step-1 {
      &:after {background: #00C75B;}
    }
    li.now.step-2 {
      &:before {background: linear-gradient(to right, rgba(0,199,91,1) 0%,rgba(222,226,237,1) 100%);}
    }
    li.done.step-2 {
      &:before {background: #00C75B;}
    }
  }
  &:after {content: ""; clear: both; position: relative; display: block;}

}

#drone-category {margin-bottom: 50px;
  label.main {margin-bottom: 20px;}
  .category-wrap {border: 1px solid #DEE2ED; border-bottom: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #F4F4F4; margin-bottom: 10px; border-radius: 6px; padding: 20px;}
}

#application-preview {background: $blue-light-bg; padding: 50px 0px;
  .question {margin-bottom: 30px;
    p {margin-bottom: 10px; font-size: 15px; line-height: 30px;}
    h6 {@include type-label(); font-size: 15px; line-height: 30px; margin-bottom: 2px;}
  }
}

#declaration {padding: 50px 0px;
  p {line-height: 26px;}
  h5 {@include type-label-form(); font-size: 15px; line-height: 26px; margin-bottom: 0px;}
}

#drone-profile{
  .drone-image {padding: 50px 0px;}
  .drone-meta {margin-bottom: 50px;
    p {margin: 0px;
      strong {@include type-label(); font-size: 15px; line-height: 30px;}
    }
  }
}

.help-wrap {position: relative;
  .help-icon {position: absolute; top: 0px; right: 0px; width: 40px; height: 40px; @include absolute-center(); border-radius: 50%; border: 1px solid #DEE2ED; border: 2px solid #DEE2ED; box-shadow: 0px 6px 5px 0px #F4F4F4;}
}
.desktop-site-navigation {display: none;}

.single-page {padding: 50px 0px;}

.thanks-page {padding: 80px 0px; text-align: center; margin-top: -10px; min-height: calc(100vh - 60px); position: relative; z-index: 10;
  &:before {content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(104,0,255,1) 100%); background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(104,0,255,1) 100%); background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(104,0,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#6800ff',GradientType=0 ); z-index: -1;}
  &:after {content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; background-color: $blue-main; z-index: -2;}
  .illustrations {content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; background-image: url("../img/flying-drone.png"); background-position: center; background-repeat: no-repeat; z-index: -1;}
  h2 {color: #ffffff;}
  p {color: #ffffff;}
  .button {box-shadow: 0px 6px 5px 0px #341CCB;}
}

.fail-page { position: relative; z-index: 1;
  img {margin-bottom: 20px;}
  h2 {color: #D40000;}
  .cell {padding: 50px 0px; text-align: center; min-height: calc(100vh - 70px); @include absolute-center();}
  .button {margin-bottom: 10px;}
}



// RESPONSIVE

// Mobile
@media screen and (max-width: 39.9375em) {
  .button {width: 100%;}

  .reveal {top: 5%; left: 5%; width: 90%; height: auto; height: auto; min-height: 50vh; border-radius: 6px; padding: 40px 30px;
    .close-button {font-size: 50px; right: 20px; top: 20px;}
  }
  .page-navigation .grid-container, .admin-header .grid-container {max-width: 100%; padding: 0px;}
  .page-navigation .grid-padding-x > .cell, .admin-header .grid-padding-x > .cell  {padding-right: 0px;padding-left: 0px;}
  .page-navigation .grid-container:not(.full)>.grid-padding-x, .admin-header .grid-container:not(.full)>.grid-padding-x {margin-left: 0px; margin-right: 0px;}
}

// Smaller mobile screen
@media screen and (max-width: 400px) {
  .grid-padding-x > .cell {padding-right: 30px;padding-left: 30px;}
  #register-drone {
    .grid-padding-x > .cell{padding-right: 20px;padding-left: 20px;}
  }
  #home-intro .intro-text {height: 230px;}
  #home-intro .intro-text .wrap .type-title-small {font-size: 22px; line-height: 40px;}
}

// Large screen and up
@media screen and (min-width: 64em) {

  .desktop-site-navigation {display: block; padding-right: 20px;
    ul {
      li {
        a {@include type-label-form(); margin: 0px; font-size: 15px; line-height: 24px; height: 70px; letter-spacing: 0.76px; text-transform: uppercase; padding: 25px 15px 22px 15px; color: #ffffff; text-decoration: none;}
      }
    }
  }

  header.site-header.sticky, header.site-header.open {background: $blue-main;}

  header.site-header .user-nav.dashboard.open .the-user-navigation {max-width: 400px; left: auto; right: 0px;border-radius: 0px 0px 0px 6px; overflow: hidden;}
  header.site-header .user-nav.dashboard .the-user-navigation ul li a {font-size: 15px; line-height: 24px;    padding: 15px 30px;}

  .grid-container {max-width: 600px;}

  header.site-header {background: #245DFF;}

  header.site-header .site-logo {width: 200px;}
  .desktop-site-navigation {float: right;}
  header.site-header .user-nav {float: right; border-radius: 0px; margin-right: 30px;}

  #home-intro {height: 500px; min-height: 500px; padding-top: 100px;
    .grid-container {max-width: 75rem;}
  }

  #home-intro .intro-text .wrap {max-width: auto;}
  #home-intro .intro-text .wrap .type-title-small {font-size: 35px; line-height: 43px;}

  #register-drone {float: left; width: calc(50% - 20px);
    .wrap {}
  }
  #help-me-apply {float: left; width: calc(50% + 20px); padding-right: 40px; padding-left: 40px; background: transparent;
    .cell {     background: #F5F7FD; padding: 40px; border-radius: 6px;}
  }
  #press-releases {width: 50%; float: left;}
  #faq {float: left; width: 50%;}

  .home-feature {height: 300px; background: $blue-heading;}
}
